/*		     Made By:
	
	Gabriela Medeiros Florencio Leal
		   gmlf@cin.ufpe.br
    
        Mateus Valgueiro Teixeira
		   mvt@cin.ufpe.br

			Date: 2017

Cores Usadas:
Azul hover nav: #212b3d
Preto not so preto: #212121;
*/
/*=======================================================================*/
body {
	background-size: cover;
	background-image: url("img/back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Open Sans', Monaco, "Lucida Console", monospace;
    color: white;
}
/* =============================Navbar===================================*/
#logo{
	display: block;
	background-size: contain;
	font-size: 30px;
	color:white;
	text-shadow:3px 3px 5px #212b3d;
	letter-spacing: 3px;
}

.navbar-config{
	padding: 20px 0px;
	background: rgba(0,0,0,0.6);
	border: none;
	
}

/*Configuração de Hover e active*/
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover{
    background:#212b3d;
}

/*===================================Sobre===============================*/
.linhaSobre{
	margin-top: 90px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	background-color: rgba(0, 0, 0, 0.6);
 	width: 100%;
	display: table;
	text-align: center;
}

.tituloSobre{
	border: none;
	text-shadow:4px 4px 5px #212b3d;
	vertical-align: center;
	font-size: 35px;
	letter-spacing: 1px;
}

.textoSobre{
	box-sizing: border-box;
	margin-bottom: 50px;
	font-size: 16px;
}

.linhaVideo{
	padding-top: 0px;
	padding-bottom:  30px;
	background-color: rgba(0,0,0,0.6);
}

.video{
	height: 350px;
}

/*=======================================================================*/
/*=============================Links uteis===============================*/
.linhaLinks{
	border:none;
	background-color: rgba(33, 43, 61,0.8);
	padding-bottom: 20px;
}

.tituloLinks{
	text-shadow:4px 4px 5px black;
	border-bottom: 2px solid black;
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	margin-top: 15px;
}

.imgTH{
	margin-top: 20px;
	padding-top: 25px;
	padding-bottom: 0px;
	cursor: pointer;
}

.imgStack{
	height: 70px;
	width: 70px;
	margin-top: 20px;
	cursor: pointer;
	font-size: 70px;
}
/*=======================================================================*/
/*================================ Monitores ============================*/
.linhaMonitores{
	border:none;
	background-color: rgba(0,0,0,0.6);
	padding-bottom: 20px;
}

.linhaProfessor{
	border: none;
	background-color: rgba(0,0,0,0.6);
}

.tituloMonitores{
	text-shadow:4px 4px 5px #212b3d;
	border-bottom: 2px solid white;
	width: 100%;
	margin-bottom:40px;
	margin-top: 20px;
}

.fotoMonitores{
	border: 4px solid #212b3d;
	height: 170px;
	width: 170px;
	cursor: pointer;
}

/*--------------------------- Efeito Monitores -------------------------*/
.fotoIcon{
	cursor: pointer;
	margin:10px;
}

.photo-grid li {
	display: table-cell;
	position: center;
	padding-right: 50px;
}

.photo-grid figure {
	height: 170px;
	width: 170px;
	overflow: hidden;
	position: relative;
	vertical-align: center;
	margin-bottom: 0px;
}

.photo-grid figcaption {
	background: rgba(0,0,0,0.6);
	color: white;
	display: table;
	vertical-align: center;
	position: center;
	height:170px;
	width: 170px;
	left: 0;
	opacity: 0;
	right: 0;
	top: 0;
	z-index: 100;
}

.photo-grid figcaption p {
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	width: 289px;
	vertical-align: middle;
}

.photo-grid li figcaption:hover {
	opacity: 1;
}


.photo-grid figcaption p {
	display: table-cell;
	font-size: 1.3em;
	vertical-align: center;
	
	width: 170px;
	height: 170px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	vertical-align: 100px;
}

.photo-grid li figcaption:hover p {
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}

.photo-grid figcaption {
	background: rgba(0,0,0,0.6);
	color: white;
	display: table;
	height: 170px;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	transition: all 200ms;
	-webkit-transition-delay: 50ms;
	-moz-transition-delay: 50ms;
	transition-delay: 0ms;
	z-index: 100;
}
/*=========================================================================*/

/*=============================== Rodapé ==================================*/
.linhaFinal{
	background-color: rgba(0, 0, 0, 0.6);	
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	position:relative;
	bottom:0px;
	width:100%;
}

.linhaFinalArquivos{
	position: relative;
	background-color: rgba(0,0,0,0.6);
}
/*=======================================================================*/

/*=========================== Arquivos ==================================*/
.linhaArquivos{
 	
	background-color: rgba(0, 0, 0, 0.6);
	float: center;
	position: relative;
	margin-top: 40px;
}

.opcaoArquivos{
	cursor: pointer;
}

#accordion{
	box-sizing: none;
	background-color: rgba(0,0,0,0);
	position: relative;
	padding-top: 90px;
	margin-top: 90px;
	width: 80%;
	height: 100%;
	float: center;
}

.panel-title{
	background-color: rgba(0,0,0,0);
}

.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading{ 
    background: rgba(122, 130, 136, 0.2)!important;
}

.panel-transparent .panel-heading:hover,
.panel-transparent .panel-heading:focus,
.panel-transparent .panel-heading:active { 
    background: rgba(122, 130, 136, 0.5)!important;
}

.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.2)!important;
}

.list-group{
    background: none;
}

.list-group .list-group-item{ 
    background: rgba(122, 130, 136, 0.0)!important;
    cursor: pointer;
    
}

.list-group .list-group-item:hover,
.list-group .list-group-item:focus{ 
    background: rgba(122, 130, 136, 0.5)!important;
    cursor: pointer;
}

#subMini-Provas,
#subProvas{
	width: 90%;
	float: left;
	padding: none;
	margin-left: 0px;
}

/*=======================================================================*/

/*===========================Cronograma==================================*/
.tabela{
	margin-top: 300px;
}

.table>tbody>tr>td,
.table>thead>tr>th{
	vertical-align:middle;
	text-align: center;
}
/*=======================================================================*/


